.city-card {
  padding: 15px;
  border: 1px solid $color-border;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-areas:
          "heading weather-icon"
          "description weather-icon"
          "temperature temperature"
          "humidity humidity"
          "wind wind";
  @media screen and (max-width: 768px) {
    grid-template-areas:
          "weather-icon"
          "heading"
          "description"
          "temperature"
          "humidity"
          "wind";
  }
  @media screen and (max-width: 768px) {
    grid-template-areas:
          "heading weather-icon"
          "description weather-icon"
          "temperature temperature"
          "humidity humidity"
          "wind wind";
  }
  &.active {
    border-color: darkorange;
  }
}

.city-card-heading {
  grid-area: heading;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.city-card-description {
  grid-area: description
}

.city-card-icon {
  grid-area: weather-icon;
}

.city-card-temperature {
  grid-area: temperature;
}

.city-card-humidity {
  grid-area: humidity;
}

.city-card-wind {
  grid-area: wind;
}

.city-card-favorites {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.city-card-delete {
  @extend .button-cancel;
  padding: 10px 0;
  cursor: pointer;
  width: fit-content;
}

.city-favorites {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 30px;
  color: darkorange;
  &__tooltip {
    position: absolute;
    display: none;
    background: darkorange;
    color: #ffffff;
    white-space: nowrap;
    padding: 5px;
    font-size: 13px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    margin-top: 5px;
    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #FF8C00FF;
      border-width: 5px;
      margin-left: -5px;
    }
  }
  &:hover .city-favorites__tooltip {
    display: block;
  }
}