.display-toggle {
  border: none;
  width: fit-content;
  padding: 0;
  margin-bottom: 20px;
}

.display-toggle-label {
  padding: 5px 10px;
  font-size: 17px;
  border: 1px solid darkorange;
  border-radius: 5px;
  color: darkorange;
  cursor: pointer;
  &.active {
    background: darkorange;
    color: #ffffff
  }
  &:first-child {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.display-toggle-input {
  opacity: 0;
  width: 0;
}