@import 'base';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.buttons-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  gap: 20px
}

.button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.button-cancel {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: grey;
}

.button-confirm {
  background: #e75050;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 20px;
}

.col-50 {
  width: 50%;
}

.cities-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.city-card {
  padding: 15px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  position: relative;
}

.city-card-delete {
  @extend .button-cancel;
  padding: 10px 0;
  cursor: pointer;
}

.add-city-button {
  @extend .city-card;
  font-size: 20px;
  background: transparent;
  color: #bfbfbf;
  border-color: #d6d6d6;
  border-width: 2px;
  cursor: pointer;
  transition: all ease-in 200ms;
  min-height: 300px;
  &:before {
    content: "+";
    font-size: 60px;
    display: block;
  }
  &:hover {
    color: #aaaaaa;
    border-color: #aaaaaa;
  }
}

.cities-form {
  width: fit-content;
  position: relative;
  margin-bottom: 20px;
}

.cities-input {
  width: 360px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  max-width: 100%;
  border: 1px solid var(--color-border);
  outline: none;
  border-radius: 5px;
}

.cities-dropdown-wrap {

}

.cities-dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
}

.cities-input-button {
  width: 100%;
  background: var(--color-background-mute);
  outline: none;
  box-shadow: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  &:hover {
    background: var(--color-background-soft);
  }
}

.display-toggle {
  border: none;
  width: fit-content;
  padding: 0;
  margin-bottom: 20px;
}

.display-toggle-label {
  padding: 5px 10px;
  font-size: 17px;
  border: 1px solid darkorange;
  border-radius: 5px;
  color: darkorange;
  cursor: pointer;
  &.active {
    background: darkorange;
    color: #ffffff
  }
  &:first-child {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.display-toggle-input {
  opacity: 0;
  width: 0;
}

.temperature-chart {
  width: 400px;
  max-width: 100%;
  height: 400px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
  &.open {
    display: flex;
  }
}

.modal-inner {
  position: relative;
  background: #ffffff;
  padding: 60px 40px 30px;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: transparent;
  line-height: 30px;
}



